.c-shop {
  background-color: white;
  height: 100%; }
  .c-shop .shop-container {
    position: absolute;
    top: 62px;
    left: calc((100vw - 900px) / 2); }
  .c-shop .face-panel {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%; }
  .c-shop a {
    color: inherit; }
  .c-shop .icons {
    height: 20px;
    width: 20px; }
  .c-shop .language-icons {
    height: 70px;
    width: 70px; }
    .c-shop .language-icons:hover {
      transform: scale(1.2); }
  .c-shop .tooltip {
    position: relative;
    display: inline-block; }
  .c-shop .tooltip .tooltiptext {
    visibility: hidden;
    width: 50vw;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s; }
  .c-shop .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }
  .c-shop .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }
  .c-shop .hobbies-icons {
    height: 70px;
    width: 70px;
    margin-top: 35px; }
    .c-shop .hobbies-icons:hover {
      transform: scale(1.2); }
  .c-shop .section-container {
    width: 900px;
    margin: 10px auto 0 auto;
    display: flex;
    justify-content: space-between; }
    .c-shop .section-container div.left-container {
      width: 40%;
      height: 225px;
      border: 1px solid #8B939A;
      vertical-align: bottom;
      color: #ffffff;
      margin-right: 5px; }
    .c-shop .section-container div.work-right {
      width: 60%;
      height: 300px;
      vertical-align: bottom;
      border: 1px solid #8B939A;
      color: #ffffff;
      margin-left: 5px; }
    .c-shop .section-container div.work-left {
      width: 40%;
      height: 300px;
      border: 1px solid #8B939A;
      vertical-align: bottom;
      color: #ffffff;
      margin-right: 5px; }
    .c-shop .section-container div.right-container {
      width: 60%;
      height: 225px;
      vertical-align: bottom;
      border: 1px solid #8B939A;
      color: #ffffff;
      margin-left: 5px; }
  .c-shop .language-flex {
    justify-content: space-around;
    display: flex; }
  .c-shop .hobbies-flex {
    justify-content: space-around;
    display: flex; }
  .c-shop .right-container-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
  .c-shop .first-name {
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold; }
  .c-shop .last-name {
    margin: 0;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: bold; }
  .c-shop .title {
    border-bottom: 1px solid #8B939A; }
  @media screen and (max-width: 990px) and (min-width: 769px) {
    .c-shop .shop-container {
      left: 5vw; }
    .c-shop .section-container {
      width: 90vw; } }
  @media screen and (max-width: 768px) and (min-width: 601px) {
    .c-shop .shop-container {
      left: 0; }
    .c-shop .section-container {
      width: 100vw; } }
  @media screen and (max-width: 600px) {
    .c-shop .shop-container {
      left: 0; }
    .c-shop .tooltip .tooltiptext {
      left: -100px; }
    .c-shop .tooltipleft .tooltiptextleft {
      left: 50px; }
    .c-shop .section-container {
      display: block;
      width: 100vw;
      margin: 0; }
      .c-shop .section-container div.left-container {
        width: 100vw;
        display: block;
        margin: 5px 0; }
      .c-shop .section-container div.right-container {
        width: 100vw;
        display: block;
        margin: 5px 0; }
      .c-shop .section-container div.work-left {
        width: 100vw;
        display: block;
        margin: 5px 0; }
      .c-shop .section-container div.work-right {
        width: 100vw;
        display: block;
        margin: 5px 0; } }
