.c-home {
  margin: 25vh auto;
  width: 310px; }

.buttons-container {
  display: flex;
  justify-content: center; }

.button-container a {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #ffffff;
  margin: 5px;
  padding: 10px 20px;
  background-color: #222222; }
