@import "_palette";

.c-home {
  display: flex;
  justify-content: center;
}

.content-component {
  width: 100vw;
  position: absolute;
  top: 35vh;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button-container {

  margin: 8px;
  
  a {
    display: inline-block;
    font-size: $font-pri-size;
    text-decoration: none;
    color: $color-pri-text;
    border: solid 1px $color-pri-text;
    margin: 5px;
    padding: 10px 20px;
    background-color: $color-pri-darker-background;
  }
}
