header {
  background-image: url("../../media/BackgroundHeader.png"); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 10px;
}
  header ul {

    list-style: none;
    display: flex;
    justify-content: space-between; }
    header ul li {
      font-size: 24px;
      border-radius: 10px 10px 0 0;
    }

.link-style {
  padding: 15px 0 15px 0;
  font-family: fantasy;
  font: bold;
  display: block;
  text-decoration: none;
  color: white; 
}
  

.active-link-style {
  color: white; 
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-radius: 10px 10px 0 0;
}

