@import "_palette";

header {
  background-color: $color-sec-background;

  ul {
    padding-top: 10px;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
      font-size: $font-pri-size;
      padding: 20px 0;
    }
  }
}
.link-style {
  color: $color-highlight;
  padding: 20px 15px;
  text-decoration: none;
  color: $color-sec-text;
}

.active-link-style {
  background-color: $color-highlight;
  color: $color-sec-text;
}
