$color-pri-text: #ffffff;
$color-pri-background: #C9C7C1;
$color-pri-light-color: #435424;
$color-pri-darker-background: #8B939A;
$color-sec-text: #C9C7C1;
$color-sec-background: #435424;
$color-highlight: #293316;
$color-border: #8B939A;

$font-pri-size: 24px;
$font-sec-size: 18px;

$menu-height: 62px;
$resume-width: 900px;
// $color-pri-text: #ffffff;
// $color-pri-background: #1D2731;
// $color-pri-light-color: #C5C1C0;
// $color-pri-darker-background: #0B3C5D;
// $color-sec-text: #1A0315;
// $color-sec-background: #328CC1;
// $color-highlight: #D9B310;
//
// $font-pri-size: 24px;
// $font-sec-size: 18px;
//
// $menu-height: 62px;
// $resume-width: 900px;
