$color-pri-text: #ffffff;
$color-pri-background: #C9C7C1;
$color-pri-light-color: #435424;
$color-pri-darker-background: #8B939A;
$color-sec-text: #C9C7C1;
$color-sec-background: #435424;
$color-highlight: #293316;
$color-border: #8B939A;


$font-pri-size: 24px;
$font-sec-size: 18px;

$menu-height: 62px;
$resume-width: 900px;
