$color-pri-text: #81fb00;
$color-pri-background: #b96e11;
$color-pri-light-color: #b96e11;
$color-pri-darker-background: #b96e11;
$color-sec-text: #81fb00;
$color-sec-background: #b96e11;
$color-highlight: #b96e11;
$color-border: #b96e11;


$font-pri-size: 24px;
$font-sec-size: 18px;

$menu-height: 62px;
$shop-width: 900px;
