@import "_palette";

body {

}

#root {
}

ul {
  margin: 0;
}

h1 {
  color: $color-pri-text;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  color: $color-pri-text;
  font-size: 28px;
  text-transform: uppercase;
}

.background-container {
  height: calc(150vh - #{$menu-height});
  width: 100vw;
  background-color: black;
  opacity: 0.5;
}

.background-image {
  height: calc(150vh - #{$menu-height});
  background-image: url('./images/home-background.JPG');
  background-repeat: no-repeat;
  background-position: center center;
}

  @media screen and (max-width: 600px){
    .background-container {
      height: 300vh;
      width: 100vw;
      background-color: black;
      opacity: 0.5;
    }

    .background-image {
      height: 300vh;
      background-image: url('./images/home-background.JPG');
      background-repeat: no-repeat;
      background-position: center center;
    }

  }
  // @media screen and (max-width: 414px) {
  //   .background-container {
  //     height: 280vh;
  //     width: 100vw;
  //     background-color: black;
  //     opacity: 0.5;
  //   }
  //
  //   .background-image {
  //     height: 280vh;
  //     background-image: url('./images/home-background.JPG');
  //     background-repeat: no-repeat;
  //     background-position: center center;
  //   }
  //
  // }
