ul {
  margin: 0; }

h1 {
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase; }

h2 {
  color: #ffffff;
  font-size: 28px;
  text-transform: uppercase; }

a {
  font-weight: 800; }

.background-container {
  height: calc(150vh - 62px);
  width: 100vw;
  background-color: black;
  opacity: 0.5; }

.background-image {
  height: calc(150vh - 62px);
  background-image: url("./media/home-background.jpg");
  background-repeat: no-repeat;
  background-position: center center; }

.mobile-only {
  display: none !important; }

.desktop-only {
  display: inherit !important; }

@media screen and (max-width: 600px) {
  main {
    height: calc(100vh - 64px);
    overflow: hidden; }
  .mobile-only {
    display: inherit !important; }
  .desktop-only {
    display: none !important; }
  .background-container {
    height: 300vh;
    width: 100vw;
    background-color: black;
    opacity: 0.5; }
  .background-image {
    height: 300vh;
    background-image: url("./media/home-background.jpg");
    background-repeat: no-repeat;
    background-position: center center; } }
