@import "_palette";


body {

}

#root {
}

ul {
  margin: 0;
}

h1 {
  color: $color-pri-text;
  font-size: 48px;
  text-transform: uppercase;
}

h2 {
  color: $color-pri-text;
  font-size: 28px;
  text-transform: uppercase;
}

a {
  font-weight: 800;
}

h3, h2, p, .info-text, .objectives {
  padding: 0 4px;
}

.background-container {
  height: calc(150vh - #{$menu-height});
  width: 100vw;
  background-color: black;
  opacity: 0.5;
}

.background-image {
  height: calc(150vh - #{$menu-height});
  background-image: url('./media/home-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}

.mobile-only {
  display: none !important;
}

.desktop-only {
  display: inherit !important;
}

  @media screen and (max-width: 600px){

    main {
      height: calc(100vh - #{$menu-height});
      overflow: hidden;
    }
    
    .mobile-only {
      display: inherit !important;
    }

    .desktop-only {
      display: none !important;
    }

    div.work-right {
      height: 362px !important;
    }

    .background-container {
      height: 300vh;
      width: 100vw;
      background-color: black;
      opacity: 0.5;
    }

    .background-image {
      height: 300vh;
      background-image: url('./media/home-background.jpg');
      background-repeat: no-repeat;
      background-position: center center;
    }

  }
  // @media screen and (max-width: 414px) {
  //   .background-container {
  //     height: 280vh;
  //     width: 100vw;
  //     background-color: black;
  //     opacity: 0.5;
  //   }
  //
  //   .background-image {
  //     height: 280vh;
  //     background-image: url('./media/home-background.jpg');
  //     background-repeat: no-repeat;
  //     background-position: center center;
  //   }
  //
  // }
